What you can find here:
 - Arrow
 - Txt Files
 - Delimited Files
 - CSV
 - XLSX
 - JLD/NPZ/RDA/MAT

## Arrow

In general using Arrow.jl is a preferred way to store your data frames, but note that in order to ensure maximum speed it uses its own `AbstractVector` type.
To materialize this abstract columns into standard `Vector`s just `copy` a data frame. df_mat = copy(df_arrow)

In [ ]:
Arrow.write("auto2.arrow", df2)

UndefVarError: UndefVarError: Arrow not defined

## Txt Files

In [ ]:
readlines("data/auto.txt"); # read all lines

In [ ]:
raw_str = read("data/auto.txt", String); # read all lines and but in a String
str_no_tab = replace(raw_str, '\t'=>' ') # replace the delimiter
io = IOBuffer(str_no_tab) # put the string as a IO buffer
df1 = CSV.File(io, delim=' ', # read txt file as a csv/dataframe
               ignorerepeated=true,
               header=[:mpg, :cylinders, :displacement, :horsepower,
                       :weight, :acceleration, :year, :origin, :name],
               missingstring="NA") |>
      DataFrame # the '|> DataFrame' transform the data into a dataframe

## Throw link

Can download a file direct from a link
Note: `download` depends on external tools such as curl, wget or fetch. So you must have one of these.

In [ ]:
P = Downloads.download("https://raw.githubusercontent.com/nassarhuda/easy_data/master/programming_languages.csv",
    "data/programming_languagesV2.csv")

RequestError: ssl_handshake returned - mbedTLS: (-0x0050) NET - Connection was reset by peer while requesting https://raw.githubusercontent.com/nassarhuda/easy_data/master/programming_languages.csv

## DelimitedFiles

The key question here is to load data from files such as `csv` files, `xlsx` files, or just raw text files. We will go over some Julia packages that will allow us to read such files very easily. Belong to the standard library.

In [ ]:
#=
readdlm(source,
    delim::AbstractChar,
    T::Type,
    eol::AbstractChar;
    header=false,
    skipstart=0,
    skipblanks=true,
    use_mmap,
    quotes=true,
    dims,
    comments=false,
    comment_char='#')
=#
P,H = readdlm("data/programming_languages.csv",',';header=true);

In [ ]:
# To write to a text file, you can:
writedlm("data/programminglanguages_dlm.txt", P, '-')

In [ ]:
# Transform to a DataFrames
DataFrame(P)

## CSV

Better to use - will return the data as DataFrame object.

In [ ]:
C = CSV.read("data/programming_languages.csv", DataFrame);

In [ ]:
df1 = CSV.File("data/auto2.csv") |> DataFrame

In [ ]:
# To write to a *.csv file using the CSV package
CSV.write("data/programminglanguages_CSV.csv", C)

"programminglanguages_CSV.csv"

## XLSX

In [ ]:
T = XLSX.readdata("data/zillow_data_download_april2020.xlsx", #file name
    "Sale_counts_city", #sheet name
    "A1:F9" #cell range, good if possible, if not, can take too much time
    )

G = XLSX.readtable("data/zillow_data_download_april2020.xlsx","Sale_counts_city");

9×6 Matrix{Any}:
      "RegionID"  "RegionName"    …      "2008-03"      "2008-04"
  6181            "New York"             missing        missing
 12447            "Los Angeles"      1446           1705
 39051            "Houston"          2926           3121
 17426            "Chicago"          2910           3022
  6915            "San Antonio"   …  1479           1529
 13271            "Philadelphia"     1609           1795
 40326            "Phoenix"          1310           1519
 18959            "Las Vegas"        1618           1856

In [ ]:
# Transform into a DataFrames
DataFrame(T, :auto)

9×6 DataFrame
 Row │ x1        x2            x3            x4        x5       x6
     │ Any       Any           Any           Any       Any      Any
─────┼──────────────────────────────────────────────────────────────────
   1 │ RegionID  RegionName    StateName     SizeRank  2008-03  2008-04
   2 │ 6181      New York      New York      1         missing  missing
   3 │ 12447     Los Angeles   California    2         1446     1705
   4 │ 39051     Houston       Texas         3         2926     3121
   5 │ 17426     Chicago       Illinois      4         2910     3022
   6 │ 6915      San Antonio   Texas         5         1479     1529
   7 │ 13271     Philadelphia  Pennsylvania  6         1609     1795
   8 │ 40326     Phoenix       Arizona       7         1310     1519
   9 │ 18959     Las Vegas     Nevada        8         1618     1856

In [ ]:
G[1] # is the data (a vector of vector: 'G[1][1] for the first col); 'G[2]' is the header w/ cols names

148-element Vector{Any}:
 Any[6181, 12447, 39051, 17426, 6915, 13271, 40326, 18959, 54296, 38128  …  396952, 397236, 398030, 398104, 398357, 398712, 398716, 399081, 737789, 760882]
 Any["New York", "Los Angeles", "Houston", "Chicago", "San Antonio", "Philadelphia", "Phoenix", "Las Vegas", "San Diego", "Dallas"  …  "Barnard Plantation", "Windsor Place", "Stockbridge", "Mattamiscontis", "Chase Stream", "Bowdoin College Grant West", "Summerset", "Long Pond", "Hideout", "Ebeemee"]
 Any["New York", "California", "Texas", "Illinois", "Texas", "Pennsylvania", "Arizona", "Nevada", "California", "Texas"  …  "Maine", "Missouri", "Wisconsin", "Maine", "Maine", "Maine", "South Dakota", "Maine", "Utah", "Maine"]
 Any[1, 2, 3, 4, 5, 6, 7, 8, 9, 10  …  28750, 28751, 28752, 28753, 28754, 28755, 28756, 28757, 28758, 28759]
 Any[missing, 1446, 2926, 2910, 1479, 1609, 1310, 1618, 772, 1158  …  0, 0, 0, 0, 0, 0, 0, 0, 1, 0]
 Any[missing, 1705, 3121, 3022, 1529, 1795, 1519, 1856, 1057, 1232  …  0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
 Any[missing, 1795, 3220, 2937, 1582, 1709, 1654, 1961, 1195, 1240  …  0, 0, 0, 0, 0, 0, 2, 0, 0, 0]
 Any[missing, 1890, 3405, 3224, 1761, 1914, 1743, 2022, 1115, 1236  …  0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
 Any[missing, 2072, 3352, 3464, 1678, 1984, 1975, 2219, 1272, 1392  …  0, 0, 0, 0, 0, 1, 1, 0, 0, 0]
 Any[missing, 1876, 2962, 3371, 1468, 1739, 1809, 2248, 1171, 1138  …  0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
 Any[missing, 1981, 2017, 2979, 1480, 1635, 1965, 2207, 1193, 1042  …  0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
 Any[missing, 2195, 2595, 2869, 1475, 1598, 2074, 2372, 1319, 1089  …  0, 1, 0, 0, 0, 0, 0, 0, 0, 0]
 Any[missing, 1579, 1865, 1915, 949, 1169, 1435, 1880, 873, 772  …  0, 0, 0, 0, 1, 0, 0, 0, 0, 0]
 ⋮
 Any[3456, 2150, 3283, 2735, 1989, 1958, 3378, 2748, 1207, 1058  …  0, 1, 0, 1, 4, 0, 6, 0, 0, 0]
 Any[3652, 2537, 3620, 3197, 2137, 2177, 3728, 2959, 1384, 1221  …  0, 0, 0, 0, 0, 0, 4, 0, 0, 0]
 Any[3473, 2651, 3894, 3702, 2384, 2682, 3898, 3284, 1542, 1407  …  0, 0, 0, 0, 0, 2, 3, 0, 0, 0]
 Any[3900, 2504, 3511, 3549, 2242, 2270, 3570, 3058, 1433, 1235  …  0, 0, 2, 0, 0, 2, 6, 0, 1, 0]
 Any[4493, 2675, 3687, 3622, 2300, 2479, 3616, 3235, 1529, 1423  …  0, 0, 0, 0, 0, 3, 10, 0, 1, 0]
 Any[4266, 2759, 3414, 3619, 2233, 2503, 3581, 3254, 1479, 1266  …  0, missing, 0, 0, 0, 3, 5, 0, 2, 0]
 Any[4183, 2334, 2803, 2938, 1788, 2184, 3199, 2821, 1307, 1143  …  0, missing, 0, 0, 1, 1, 4, 0, 1, 0]
 Any[4232, 2594, 2969, 2930, 1917, 2337, 3189, 3097, 1356, 1239  …  0, missing, 0, 0, 0, missing, 8, 0, 2, 0]
 Any[3869, 2272, 2699, 2176, 1520, 1931, 2867, 2702, 1179, 1117  …  0, missing, 0, 0, 0, missing, 8, 0, missing, 0]
 Any[3938, 2394, 3338, 2866, 1876, 2192, 2934, 2810, 1276, 1315  …  0, missing, 0, 0, 0, missing, 5, 0, missing, 0]
 Any[4306, 2006, 2407, 2240, 1460, 2381, 2226, 2512, 1020, 1056  …  0, missing, 0, 0, 0, missing, 1, 0, missing, 1]
 Any[4054, 1522, 2682, 2100, 1626, 1620, 2325, 2547, missing, 1292  …  missing, missing, missing, missing, missing, missing, 2, 0, missing, 0]

In [ ]:
# Transform into a DataFrame - uses the 'splat' operator to unwrap these arrays and pass them
D = DataFrame(G...) # equivalent to DataFrame(G[1],G[2])

28759×148 DataFrame
   Row │ RegionID  RegionName                  StateName      SizeRank  2008-0 ⋯
       │ Any       Any                         Any            Any       Any    ⋯
───────┼────────────────────────────────────────────────────────────────────────
     1 │ 6181      New York                    New York       1         missin ⋯
     2 │ 12447     Los Angeles                 California     2         1446
     3 │ 39051     Houston                     Texas          3         2926
     4 │ 17426     Chicago                     Illinois       4         2910
     5 │ 6915      San Antonio                 Texas          5         1479   ⋯
     6 │ 13271     Philadelphia                Pennsylvania   6         1609
     7 │ 40326     Phoenix                     Arizona        7         1310
     8 │ 18959     Las Vegas                   Nevada         8         1618
     9 │ 54296     San Diego                   California     9         772    ⋯
    10 │ 38128     Dallas                      Texas          10        1158
    11 │ 10221     Austin                      Texas          11        997
   ⋮   │    ⋮                  ⋮                     ⋮           ⋮         ⋮   ⋱
 28750 │ 396952    Barnard Plantation          Maine          28750     0
 28751 │ 397236    Windsor Place               Missouri       28751     0      ⋯
 28752 │ 398030    Stockbridge                 Wisconsin      28752     0
 28753 │ 398104    Mattamiscontis              Maine          28753     0
 28754 │ 398357    Chase Stream                Maine          28754     0
 28755 │ 398712    Bowdoin College Grant West  Maine          28755     0      ⋯
 28756 │ 398716    Summerset                   South Dakota   28756     0
 28757 │ 399081    Long Pond                   Maine          28757     0
 28758 │ 737789    Hideout                     Utah           28758     1
 28759 │ 760882    Ebeemee                     Maine          28759     0      ⋯
                                              144 columns and 28738 rows omitted

In [ ]:
# if you already have a dataframe:
# XLSX.writetable("filename.xlsx", collect(DataFrames.eachcol(df)), DataFrames.names(df))
XLSX.writetable("data/writefile_using_XLSX.xlsx",G[1],G[2])

## jld, npz, rda, and mat

In [ ]:
using MAT
Matlab_data = matread("data/mytempdata.mat")
MAT.matwrite("mywrite.mat",Matlab_data)

In [ ]:
using JLD
jld_data = JLD.load("data/mytempdata.jld")
JLD.save("mywrite.jld", "A", jld_data)

In [ ]:
using NPZ
npz_data = NPZ.npzread("data/mytempdata.npz")
NPZ.npzwrite("mywrite.npz", npz_data)

In [ ]:
using RData
R_data = RData.load("data/mytempdata.rda")
# We'll need RCall to save here. https://github.com/JuliaData/RData.jl/issues/56
using RCall
@rput R_data
R"save(R_data, file=\"mywrite.rda\")"

RObject{NilSxp}
NULL

In [ ]:
using GeoJSON
geoJSON_data = GeoJSON.read("data/mytempdata.geojson")
df = DataFrame(fc) # use as a data frame
GeoJSON.write("mywrite.geojson", jeoJSON_data)