In [ ]:

# Load the Drive helper and mount
from google.colab import drive
drive.mount('/content/drive')

# Python Folder path
PYTHON_PATH = '/content/drive/MyDrive/Stuffs/Python/'

Mounted at /content/drive

## Qualitative Variables

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame([['A', 'Z', 'B', 65, 10, 26, 98], ['B', 'Y', 'B', 25, 15, 21, 89], ['A', 'Y', 'B', 13, 23, 25, 99], ['B', 'Z', 'B', 25, 23, 20, 88],
                   ['C', 'Y', 'B', 15, 19, 5, 90],  ['D', 'Z', 'B', 18, 11, 5, 97],  ['A', 'Y', 'B', 13, 23, 25, 99], ['B', 'Z', 'B', 25, 23, 20, 88],
                   ['A', 'Y', 'A', 13, 23, 25, 99], ['B', 'Z', 'A', 25, 23, 20, 88], ['C', 'Y', 'A', 15, 19, 5, 90],  ['D', 'Z', 'A', 18, 11, 5, 97],
                   ['A', 'Y', 'A', 13, 23, 25, 99], ['B', 'Z', 'A', 25, 23, 20, 88], ['C', 'Y', 'A', 15, 19, 5, 90],  ['D', 'Z', 'A', 18, 11, 5, 97],
                   ['C', 'Y', 'A', 15, 19, 5, 90],  ['D', 'Z', 'A', 18, 11, 5, 97],  ['C', 'Z', 'B', 15, 17, 6, 80],  ['D', 'Y', 'B', 19, 13, 5, 98]],
                  columns=['Team', 'League', 'Division', 'Round 2', 'Round 3', 'Round 4', 'Final'])

In [ ]:
# Frequency Table
df['Team'].value_counts() #or pd.crosstab(df['Team'], 'freq', margins=False)

A    5
B    5
C    5
D    5
Name: Team, dtype: int64

In [ ]:
# Contigency Table - between two features
contg_table1 = pd.crosstab(df['Team'], df['League'], margins = False)
contg_table2 = pd.crosstab([df['Team'], df['League']], df['Division'], margins = False)

Division     A  B
Team League
A    Y       2  2
     Z       0  1
B    Y       0  1
     Z       2  2
C    Y       3  1
     Z       0  1
D    Y       0  1
     Z       3  1

## Quantitative Variables

In [ ]:
import statistics

val_avg = [2,4,9,20,11,15,19,30]
val_med_odd = [12, 13, 10, 15, 7]
val_med_even = [12, 13, 10, 15, 7, 9]
val_mode = ['good', 'bad', 'normal', 'good', 'good']
val_var_std = [2, 2.5, 5, 3.1, 1.75, 2.8]

In [ ]:
# Central Tendency Measures
print("Mean: ",statistics.mean(val_avg))
print("Median for the odd example is ",statistics.median(val_med_odd))
print("Median for the even example is ",statistics.median(val_med_even))
print("Mode for the dataset is ",statistics.mode(val_mode))

# Dispersion Measure
print("Variance: ",statistics.variance(val_var_std))
print("Std: ",statistics.stdev(val_var_std))

## Association and Correlations

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame([['A', 'Z', 'B', 65, 10, 26, 98], ['B', 'Y', 'B', 25, 15, 21, 89], ['A', 'Y', 'B', 13, 23, 25, 99], ['B', 'Z', 'B', 25, 23, 20, 88],
                   ['C', 'Y', 'B', 15, 19, 5, 90],  ['D', 'Z', 'B', 18, 11, 5, 97],  ['A', 'Y', 'B', 13, 23, 25, 99], ['B', 'Z', 'B', 25, 23, 20, 88],
                   ['A', 'Y', 'A', 13, 23, 25, 99], ['B', 'Z', 'A', 25, 23, 20, 88], ['C', 'Y', 'A', 15, 19, 5, 90],  ['D', 'Z', 'A', 18, 11, 5, 97],
                   ['A', 'Y', 'A', 13, 23, 25, 99], ['B', 'Z', 'A', 25, 23, 20, 88], ['C', 'Y', 'A', 15, 19, 5, 90],  ['D', 'Z', 'A', 18, 11, 5, 97],
                   ['C', 'Y', 'A', 15, 19, 5, 90],  ['D', 'Z', 'A', 18, 11, 5, 97],  ['C', 'Z', 'B', 15, 17, 6, 80],  ['D', 'Y', 'B', 19, 13, 5, 98]],
                  columns=['Team', 'League', 'Division', 'Round 2', 'Round 3', 'Round 4', 'Final'])

In [ ]:
# Association
import scipy.stats as stats
contg_table = pd.crosstab(df['Team'], df['League'], margins = False)

#Chi-Square
# chi2: test statistic / assocition value - p: p-value of the test
# expected: ndarray, expected frequencies - dof: fegrees of freedom
chi2, p, dof, expected = stats.chi2_contingency(contg_table, correction=False)

#Cramer V
X2 = stats.chi2_contingency(contg_table, correction=False)[0]
N = np.sum(np.sum(contg_table))
minDim = min(contg_table.shape)-1
cramerV = np.sqrt((X2/N) / minDim)

#Joint Prob Dist
joint_prob = df.value_counts(['Team', 'League'], normalize=True)

In [ ]:
# Correlation - see more in AIMLPython.FeatureSelection.Correlation
df.corr(method='pearson') #or kendall, spearman

          Round 2   Round 3   Round 4     Final
Round 2  1.000000 -0.331040  0.343972  0.020510
Round 3 -0.331040  1.000000  0.548180 -0.267832
Round 4  0.343972  0.548180  1.000000  0.205980
Final    0.020510 -0.267832  0.205980  1.000000

## Probability

## Distribution

In [ ]:
from scipy.stats import binom
from scipy.stats import norm
from scipy.stats import t
from scipy.stats import bernoulli
from scipy.stats import expon

from scipy.stats import poisson
from scipy import stats
import matplotlib.pyplot as plt

### discrete

In [ ]:
#Bernoulli

prob = 0.6        #probability of a single success
outcome = [0, 1]  #outcome of the experiment

#generated random elements
rdm = bernoulli.rvs(size=1000, p=prob)

#probability mass function
prob1 = bernoulli.pmf(outcome, prob)

In [ ]:
#Binomial - toss a coin 5 times and come up heads 3 times (prob1); less than 3 (prob2); more than 3 (prob3)

x = 3   #numb of success
n = 5   #numb of move
p = 0.5 #prob of each element be choosen

#generated random elements
rdm = binom.rvs(n, p, size=1000)

#probability mass function
prob1 = binom.pmf(x, n, p)

#cumulative distribution function
prob2 = binom.cdf(x, n, p)

#survival function, same as 1-cdf
prob3 = binom.sf(x, n, p)

0.8125

In [ ]:
#Poisson - 3 accidents occur (prob1); less than 3 (prob2); more than 3 (prob3)

x, lambdA = 3, 2

#probability mass function
prob1 = poisson.pmf(x, lambdA)

#cumulative distribution function
prob2 = poisson.cdf(x, lambdA)

#survival function, same as 1-cdf
prob3 = poisson.sf(x, lambdA)

### continuous

In [ ]:
#Normal - exclude objs with weight = 6 (prob1); < 6 (prob2); > 6 (prob3)

#avg and std
u, dp = 8, 2

#generated random elements
rdm = norm.rvs(size = 20)

#probability density function
prob1 = norm.pdf(6, u, dp)

#cumulative distribution function
prob2 = norm.cdf(6, u, dp)

#survival function, same as 1-cdf()
prob3 = norm.sf(6, u, dp)

0.12098536225957168

In [ ]:
#tStudent - exclude people with salary = 80 (prob1); < 80 (prob2); > 80 (prob3)

T, deg_freedom = 1.5, 8

#generated random elements
rdm = t.rvs(deg_freedom, size = 20)

#probability density function
prob1 = t.pdf(T, deg_freedom)

#cumulative distribution function
prob2 = t.cdf(T, deg_freedom)

#survival function, same as 1-cdf()
prob3 = t.sf(T, deg_freedom)

In [ ]:
#Exponential - 40 min is the time between eruptions for a geyser
#                     the prob to wait 50 min (prob1); less than 50 (prob2); more than 50 min (prob3)

#lambda and values
rate, x = 40, 50

#generated random elements
rdm = expon.rvs(scale=rate, size=10)

#probability density function
prob1 = expon.pdf(x, rate)

#cumulative distribution function
prob2 = expon.cdf(x, rate)

#survival function, same as 1-cdf()
prob3 = expon.sf(x, rate)

In [ ]:
#Chi-Squared

## Sampling

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from math import ceil

df = pd.read_csv(PYTHON_PATH + 'data/iris.csv')

In [ ]:
# Simple Sampling

#prob to select each element - optional
prob = [0.006]*(df.shape[0]-1)
prob.append(0.106)

#use replace=True to do with replacement
sample = df.iloc[np.random.choice(range(df.shape[0]), size=5, replace=False, p=prob)]
sample

    sepal length  sepal width  petal length  petal width            class
3            4.6          3.1           1.5          0.2      Iris-setosa
23           5.1          3.3           1.7          0.5      Iris-setosa
35           5.0          3.2           1.2          0.2      Iris-setosa
2            4.7          3.2           1.3          0.2      Iris-setosa
71           6.1          2.8           4.0          1.3  Iris-versicolor

In [ ]:
# Stratified Sampling - group by the strata/class

#disproportionately - select 4 from each strata
disp = df.groupby('class', group_keys=False).apply(lambda x: x.sample(4))

#proportionately - 0.1 = 10%
prop = df.groupby('class', group_keys=False).apply(lambda x: x.sample(frac=0.1))

In [ ]:
# Systematic Sampling

#define population and sample size
pop_size = len(df.iloc[:,0])
sample_size = 5

#define size of step and the first idx to get
step = ceil(pop_size/sample_size)
start = np.random.randint(low=1,high=step+1,size=1)[0]

#get elements
selected = []
for i in range(sample_size):
    selected.append(start)
    start += step
sample = df.iloc[selected,:]

In [ ]:
# Cluster Sampling

def get_cluster_sample(df, n_per_cluster, num_select_clusters):
  N, data = len(df), None
  K = int(N/n_per_cluster) #qty of cluster

  # for each cluster
  for k in range(K):
    sample_k = df.sample(n_per_cluster) # create cluster, can be changed to be
    sample_k["cluster"] = np.repeat(k, len(sample_k)) # based on some characteristics
    df = df.drop(index = sample_k.index)
    data = pd.concat([data, sample_k], axis=0)

  # cluster to be returned
  random_chosen_clusters = np.random.randint(0, K, size=num_select_clusters)
  samples = data[data.cluster.isin(random_chosen_clusters)]
  return samples

sample = get_cluster_sample(df, 5, 1)

## Statistical/Hypothesis Test

In [ ]:
import scipy.stats as stats
import numpy as np
import statsmodels.stats.weightstats as statsmodels

In [ ]:
# Hypothesis Tets - how to do it

# chi-squared
#Your code is valid. You use stats.chi2_contingency when you want to test whether two (or more) groups have the save distribution.
#Null hypothesis: the two groups have no significant difference.
#You use stats.chisquare when you want to test whether one (discrete) random variable has a specific distribution.
#Null hypothesis: the random variable is not significantly different from the specified distribution.

group1 = [456, 564, 54, 554, 54, 51, 1, 12, 45, 5]
group2 = [65, 87, 456, 564, 456, 564, 564, 6, 4, 564]

#Wilcoxon-Signed Rank Test
W = stats.wilcoxon(group1, group2)


#Test U Mann-whitney
U = stats.mannwhitneyu(group1,group2)

In [ ]:
# test t

# Shapiro wilk - verificar se é normal
def e_normal(group):
  wval, pval = stats.shapiro(group)
  if len(group) > 5000:
    if wval <0.05: return False
    if pval < 0.05: return False
  return True

# equal variance test
def var_igual(group1,group2):
  _,pval = stats.levene(group1,group2)
  if pval<0.05: return False
  return True

group1 = np.array([14, 15, 15, 16, 13, 8, 14, 17, 16, 14, 19, 20, 21, 15, 15, 16, 16, 13, 14, 12])
group2 = np.array([15, 17, 14, 17, 14, 8, 12, 19, 19, 14, 17, 22, 24, 16, 13, 16, 13, 18, 15, 13])

pre = [88, 82, 84, 93, 75, 78, 84, 87, 95, 91, 83, 89, 77, 68, 91]
post = [91, 84, 88, 90, 79, 80, 88, 90, 90, 96, 88, 89, 81, 74, 92]

w1Samp = stats.ttest_1samp(a=group1, popmean=15)
w2Samp = stats.ttest_ind(group1, group2, equal_var=True)
paired = stats.ttest_rel(pre, post)

Ttest_relResult(statistic=-2.9732484231168796, pvalue=0.01007144862643272)

In [ ]:
# test z

data, mean = [88, 92, 94, 94, 96, 97, 97, 97, 99, 99, 105, 109, 109, 109, 110, 112, 112, 113], 100

cityA = [82, 84, 85, 89, 91, 91, 92, 94, 99, 99, 105, 109, 109, 109, 110, 112, 112, 113, 114, 114]
cityB = [90, 91, 91, 91, 95, 95, 99, 99, 108, 109, 109, 114, 115, 116, 117, 117, 128, 129, 130, 133]

w1Samp = statsmodels.ztest(data, value=mean)
w2Samp = statsmodels.ztest(cityA, cityB, value=0)

(-1.9953236073282115, 0.046007596761332065)

In [ ]:
# anova

import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.multicomp import MultiComparison

tratamento = pd.read_csv('database/anova.csv',sep=';') #dados q serao utilizados
modelo1 = ols('Horas ~ Remedio',data = tratamento).fit() #cria e treina o modelo ('V.Dependente ~ V.Independente')
resul1 = sm.stats.anova_lm(modelo1) #realiza a avalição cm a anova

modelo2 = ols('Horas ~ Remedio * Sexo',data = tratamento).fit() #cria e treina o modelo ('V.Dependente ~ V.Independente * V.Independente')
resul2 = sm.stats.anova_lm(modelo2) #realiza a avalição cm a anova

mc = MultiComparison(tratamento['Horas'],tratamento['Remedio']) #faz uma comparação entre as duas variaveis
resul_test = mc.tukeyhsd() #realiza o teste TukeyHSD

grafico = resul_test.plot_simultaneous() #grafico especial para demonstrar os dados
#plt.show()

### General Algorithm

1.   Define a function draw_random_outcome. This function should return the outcome of a random trial, given that the null hypothesis is true. It may be a single number, an array, a list of arrays, an image, practically anything: it depends on the specific case. *Ingredient 1*

2.   Define a function unexp_score (which stands for “unexpectedness score”). The function should take an experiment outcome as input, and return a single number. This number must be a score of how unexpected the outcome is, assuming it was generated under the null hypothesis. The score may be positive, negative, integer, or float, it doesn’t matter. The only property it must have is the following: the unlikelier the outcome is, the higher this score must be. *Ingredient 2*

3.   Run many times (e.g. 10,000 times) the function draw_random_outcome (defined at point 1) and, for each random outcome, compute its unexp_score (defined at point 2). Store all the scores in an array called random_unexp_scores.

4.   Compute unexp_score of the observed outcome, and call it observed_unexp_score.

5.   Compute how many random outcomes are more unexpected than the observed outcome. That is to say, count how many elements of random_unexp_scores are higher than observed_unexp_score. This is the p-value.

Ex: we have launched a die 10 times and obtained this outcome: 1, 1, 1, 1, 1, 2, 2, 2, 3, 3 and the null hypothesis say that the die is fair

In [ ]:
import numpy as np

# step 1
def draw_random_outcome():
  return np.random.choice([1,2,3,4,5,6], size=10)

# step 2
def unexp_score(outcome):
  outcome_distribution = np.array([np.mean(outcome == face) for face in [1,2,3,4,5,6]])
  return np.mean(np.abs(outcome_distribution - 1/6))

# step 3
n_iter = 10000
random_unexp_scores = np.empty(n_iter)
for i in range(n_iter):
  random_unexp_scores[i] = unexp_score(draw_random_outcome())

# step 4
observed_unexp_score = unexp_score(np.array([1,1,1,1,1,2,2,2,3,3]))

# step 5
pvalue = np.sum(random_unexp_scores >= observed_unexp_score) / n_iter
pvalue

0.0196

## Multivariate Analysis